[submodule "src/darknet_ros"]
	path = src/darknet_ros
	url = git@github.com:carolreis/darknet_ros.git
[submodule "src/aws-robomaker-small-house-world"]
	path = src/aws-robomaker-small-house-world
	url = git@github.com:carolreis/aws-robomaker-small-house-world.git
[submodule "src/pioneer_bringup"]
	path = src/pioneer_bringup
	url = git@github.com:carolreis/pioneer_bringup.git
[submodule "src/pioneer_teleop"]
	path = src/pioneer_teleop
	url = git@github.com:carolreis/pioneer_teleop.git
