[submodule "src/darknet_ros"]
	path = src/darknet_ros
	url = https://github.com/carolreis/darknet_ros.git
[submodule "src/aws-robomaker-small-house-world"]
	path = src/aws-robomaker-small-house-world
	url = https://github.com/carolreis/aws-robomaker-small-house-world.git
[submodule "src/pioneer_bringup"]
	path = src/pioneer_bringup
	url = https://github.com/carolreis/pioneer_bringup.git
[submodule "src/pioneer_teleop"]
	path = src/pioneer_teleop
	url = https://github.com/carolreis/pioneer_teleop.git
[submodule "hector_models_carol"]
	path = hector_models_carol
	url = https://github.com/carolreis/hector_models.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/rickstaa/realsense-ros-gazebo.git
[submodule "src/gazebo-realsense"]
	path = src/gazebo-realsense
	url = https://github.com/intel/gazebo-realsense.git
[submodule "src/realsense-ros-gazebo"]
	path = src/realsense-ros-gazebo
	url = https://github.com/rickstaa/realsense-ros-gazebo.git
