<launch>
  <param name="/use_sim_time" value="true" />

  Arguments for the pioneer robot
  <arg name="ns" default="p3dx3"/>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
        args="$(find rbtsonar)/worlds/w.world" respawn="false" output="screen" />

  <!-- include our robot -->
  <!-- <group ns="$(arg ns)">
      <param name="tf_prefix" value="$(arg ns)_tf" />
      <include file="$(find robotsonar)/launch/robot2.launch">
          <arg name="name" value="$(arg ns)" />
          <arg name="x" value="$(arg x)" />
          <arg name="y" value="$(arg y)" />
          <arg name="z" value="$(arg z)" />
          <arg name="namespace_arg" value="$(arg ns)" />
      </include>
  </group> -->

</launch>
